<%- include include/header.ejs %>        
        <!-- Top content -->
   <div class="iframe-container">
        <iframe src="" frameborder="0" id="myiframe" name="myiframe" class=""></iframe>
        <div class="welcomescreen" id="welcomescreen">
              <div class="col-md-12">
                <div class="col-md-offset-3 col-md-6 welcomescreen-inner">
                  <div class="form-top"><a class="" href="/"><img src="../assets/images/TSS-ABNOY-LOGO.png" alt="TssAbnoy" width="50" height="50"></a> <h1>Live with strangers</h1> <h2>Free - Anonymous - Secure</h2> <h3>TssAbnoy is the best free video chatting website with strangers</h3> <h4 id="livenode">Strangers online: <span><%=data.total; %></span></h4> </div>
                  <div class="welcom-btn-grp">
                  <button type="button" name="" class="btn btn-primary welcome-btn">Yes I am 18 plus-Start Chat</button>
                   <a href="https://www.google.com/" name="" class="btn leave-btn">Leave</a>
                 </div>
                 <div class="form_footer"> <span>Warning this site is for Adults <b>18+ Only!</b></span> <p>By using this site you agree with our <a title="Terms" href="/terms/" target="_blank">terms of service.</a></p> </div>
                </div>
                
              </div>
        </div>
      </div>
           <input type="button" id="reload" value="reload" style="display: none;">
           <input type="button" id="leave_room" value="reload" style="display: none;">
     <script type="text/javascript">
      var check_video_track=true;
      var check_audio_track=true;
      document.querySelector("#reload").addEventListener('click',function(){
       var iframe = document.getElementById('myiframe');
          iframe.src = iframe.src;
      });
            document.querySelector("#leave_room").addEventListener('click',function(){
              var iframe = document.getElementById('myiframe');
                iframe.src ='';
              window.location.href="https://google.com";
      });
     </script>
          <div class="container page-container">
            <div class="panel">
            <div class="panel-section">
              <div class="panel-head"><h3>Video Chat Features</h3></div>
              <div class="panel-cont"><p>Random video chat features include the ability to expand your partner's webcam to full-screen mode, high definition webcam connections and blazing fast connection speeds.</p><p>Once you try our Omegle alternative, you will be back regularly because of the amount of fun and excitement that our chat app brings our users. Press "start" and talk to strangers to enjoy hours of nonstop fun on TssAbnoy.</p>
              </div>
            </div>
             </div>

          </div>
              <!-- Footer -->
              <%- include include/footer.ejs %>       
