<%- include include/header.ejs %>        
        <!-- Top content -->
   <div class="iframe-container">
        <iframe src="" frameborder="0" id="myiframe" name="myiframe" class=""></iframe>
        <div class="welcomescreen" id="welcomescreen">
              <div class="col-md-12">
                <div class="col-md-offset-3 col-md-6 welcomescreen-inner">
                  <div class="form-top"><a class="" href="/"><img src="../assets/images/TSS-ABNOY-LOGO.png" alt="TssAbnoy" width="50" height="50"></a> <h1>Live with strangers</h1> <h2>Free - Anonymous - Secure</h2> <h3>TssAbnoy is the best free video chatting website with strangers</h3> <h4 id="livenode">Strangers online: <span><%=data.total; %></span></h4> </div>
                  <div class="welcom-btn-grp">
                  <button type="button" name="" class="btn btn-primary welcome-btn">Video & Chat</button>
                   <a href="javascript:;" name="" class="btn leave-btn select_chat_only">Chat Only</a>
                 </div>
                 <div class="form_footer"> <!--<span>Warning this site is for Adults <b>18+ Only!</b></span>--> <p>By using this site you agree with our <a title="Terms" href="javascript:;" target="_blank">terms of service.</a></p> </div>
                </div>
                
              </div>
        </div>
      </div>
           <input type="button" id="reload" value="reload" style="display: none;">
           <input type="button" id="leave_room" value="reload" style="display: none;">
     <script type="text/javascript">
      var check_video_track=true;
      var check_audio_track=true;
      var start_chat_phone=true;
      var chat_only_selected=true;
      var previous_token='';
      document.querySelector("#reload").addEventListener('click',function(){
       var iframe = document.getElementById('myiframe');
          iframe.src = iframe.src;
      });
            document.querySelector("#leave_room").addEventListener('click',function(){
              var iframe = document.getElementById('myiframe');
                iframe.src ='';
              window.location.href="/";
      });
     </script>
          <div class="container page-container">
            <div class="panel">
            <div class="panel-section">
              <div class="panel-head"><h3>TssAbnoy Live With Strangers</h3></div>
                 <div class="panel-cont"><p>Chat with strangers instantly on TssAbnoy, a <span class="bold">free TssAbnoy Live With Strangers</span> compact with many more features that are not found on other chat sites. TssAbnoy is now one of the best and high definition video chat in the world, with fast and secure. TssAbnoy provides random video chat, and <span class="bold">our random chat website is free</span> to use. You can meet people from all over the world on TssAbnoy instantly. With so many people online you will rarely see the same person twice. TssAbnoy is a fun website for meeting new friends, finding a date, meeting the love of your life or just have fun and kill some time by video chatting with strangers.</p><p>To use our random video chat website, simply follow two steps: first, press the "Start" button and enable access to your webcam when prompted, that's it! We made sure to make our video chat website much easier to use than other sites, we wanted to keep it as simple as possible so you can focus on connecting with strangers and having fun while using our random video chat website.</p></div>

              <div class="panel-head"><h3>Video Chat Features</h3></div>
              <div class="panel-cont"><p>Random video chat features include the ability to expand your partner's webcam to full-screen mode, high definition webcam connections and very fast connection speeds.</p>
                <p>Once you try our <span class="bold">TssAbnoy Live With Strangers</span>, you will be back regularly because of the amount of fun and excitement that our chat app brings our users. Press "start" and talk to strangers to enjoy hours of nonstop fun on TssAbnoy.</p>
              </div>
               <div class="panel-head"><h3>Only Chat Features</h3></div>
              <div class="panel-cont"><p>Our aim is to give 100% satisfaction to users, in old version of browsers don't support <span class="bold">Webrtc</span> and many of users system don't have webcam for these case we still provide random chat only.</p>
              </div>
               <div class="panel-head"><h3>Reasons to Use TssAbnoy</h3></div>
              <div class="panel-cont">
                <p><span class="bold">1.</span>Meet new people with fun way</p>
                <p><span class="bold">2.</span>Talk to strangers cam to cam</p>
                <p><span class="bold">3.</span>Instantly meet interesting people</p>
                <p><span class="bold">4.</span>Make new friends or find a date</p>
                 <p><span class="bold">5.</span>Chat at home or on your mobile device</p>
                  <p><span class="bold">6.</span>Free unlimited video chat</p>
                  <p><span class="bold">7.</span>No identity leak</p>
                  <p><span class="bold">8.</span>No advertising and ofcourse no fake video</p>
              </div>
            </div>
             </div>

          </div>
              <!-- Footer -->
              <%- include include/footer.ejs %>       
