<%- include include/header.ejs %>        
           <input type="button" id="reload" value="reload" style="display: none;">
     <script type="text/javascript">
      document.querySelector("#reload").addEventListener('click',function(){
       var iframe = document.getElementById('myiframe');
          iframe.src = iframe.src;
      });
     </script>
          <div class="container">
            <div class="panel">
            <div class="panel-section">
              <div class="panel-head"><h3>Terms and conditions</h3></div>
              <div class="panel-cont"><p>Random video chat features include the ability to expand your partner's webcam to full-screen mode, high definition webcam connections and blazing fast connection speeds.</p><p>Once you try our Omegle alternative, you will be back regularly because of the amount of fun and excitement that our chat app brings our users. Press "start" and talk to strangers to enjoy hours of nonstop fun on Chatki.</p>
              </div>
            </div>
             </div>

          </div>
          <style type="text/css">
            .contact-form{
              display: none;
            }
          </style>>
              <!-- Footer -->
              <%- include include/footer.ejs %>       
