<%- include include/header.ejs %>        
          <div class="container page-container">
            <div class="panel">
            <div class="panel-section">
              <div class="panel-head"><h3>TssAbnoy terms of use</h3></div>
              <div class="panel-cont"><p>Terms of TssAbnoy being prepare</p>
              </div>
            </div>
             </div>

          </div>
          <style type="text/css">
            .contact-form{
              display: none;
            }
          </style>>
              <!-- Footer -->
              <%- include include/footer.ejs %>       
