<%- include include/header.ejs %>        
          <div class="container page-container">
                  <h3 class="thank-you-heading">Thank you for contacting us we will get back to you soon.</h3>

          </div>
          <style type="text/css">
            .contact-form{
              display: none;
            }
          </style>
              <!-- Footer -->
              <%- include include/footer.ejs %>       
