
<!DOCTYPE html>
<html lang="en">
<head> 
    <title><%= data.page_title; %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
      <link rel="shortcut icon" href="../assets/images/tssabnoy.ico" type="image/x-icon" />
      <meta name="fl-verify" content="1d25c7c97fb3276cff99f731a96be491">
</head>

  <body>
    <!-- Top menu -->
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
<!--           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->

          <div class="logo-section logo"></div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
<!--         <div class="navbar-collapse collapse" id="top-navbar-1" aria-expanded="false" style="height: 0px;">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
             <li><a href="#">Contact us</a></li>
          </ul>
        </div> -->
      </div>
    </nav>
