
<!DOCTYPE html>
<html lang="en">
<head> 
    <title>Video Chat With Strangers | Live With strangers | TssAbnoy</title>
      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
     <meta name="description" content="Free Random Video Chat, talk to strangers anonymously using your webcam and meet new people instantly on TssAbnoy.">
      <meta name="keywords" content="Live With strangers,Video chat with strangers,online chat with girls,randow chat">
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
      <link rel="shortcut icon" href="../assets/images/tssabnoy.ico" type="image/x-icon" />
      <meta name="google-site-verification" content="ldeyS3E6U35G-8R1OmY5w0v3aCSC3EjGXyLCFKCGCmU" />

      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112418620-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-112418620-1');
</script>
</head>

  <body>
    <!-- Top menu -->
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
<!--           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->

          <div class="logo-section logo"></div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
<!--         <div class="navbar-collapse collapse" id="top-navbar-1" aria-expanded="false" style="height: 0px;">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
             <li><a href="#">Contact us</a></li>
          </ul>
        </div> -->
      </div>
    </nav>
